.loginForm, .signupForm {
  .form-control::placeholder {
    color: $main;
    font-weight: 700;
    font-family: "ubuntu-regular";
  }

  .form-control:focus {
    color: $main;
    font-weight: 700;
    border-color: $main;
    box-shadow: none !important;
  }

  .border-input {
    border-color: $main;
    border-width: 3px;
    font-weight: 700;
  }

  .login-btn {
    transition: 0.3s;

    &:hover {
      background: $main;
      color: $background3;
    }
  }
  .signup-btn {
    transition: 0.3s;
    border-color: $main;

    &:hover {
      background: $main;
      color: white;
      border-color: $main;
    }
  }
}
